- if @subscriber.errors.any?
  :plain
    toastr.error("#{@subscriber.errors.full_messages.join(', ')}")
- else
  :plain
    toastr.success("<strong>Thank you for subscribing!</strong>")
    $('#subscriber_email').val('');
